html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f0eb;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

 html.modal-open,
body.modal-open {
  overflow: hidden;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

.main-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.content-area {
  margin-left: 70px; /* spazio occupato dalla sidebar chiusa */
  flex-grow: 1;
  padding: 10px;
  height: 100vh;
  
}
.content-area::-webkit-scrollbar { display: none; }
